#homepage {
  min-height: 100vh;
  min-width: 100vw;
  display: grid;

  grid-template-areas:
    "logo box1 nav"
    "h1 box1 ."
    "h2 h2   box2"
    "h2  h2  box2";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  .logo {
    grid-area: logo;
    img {
      height: auto;
      width: 10rem;
      margin: 0rem 2rem;
      margin-top: 3rem;
    }
  }
  .title {
    justify-self: center;
    display: grid;
    grid-area: h1;

    h1 {
      color: white;
      align-self: end;
      padding: 0rem 2rem;
    }
  }

  nav {
    grid-area: nav;

    ul {
      margin-top: 3rem;

      @include flex(row, center, space-evenly);
      flex-wrap: wrap;
    }
  }

  .text-content {
    grid-area: h2;
    align-self: center;
    color: white;

    h2 {
      padding: 0rem 2rem;
    }
  }

  .box {
    height: 100%;
    width: 100%;
  }

  .box1 {
    grid-area: box1;
    background: $color-orange1;
  }
  .box2 {
    grid-area: box2;
    background: $color-orange5;
  }
}
