@import url("//db.onlinewebfonts.com/c/20e2d60222c36b7a191e019607045109?family=Neusa + Medium");
@import url("//db.onlinewebfonts.com/c/349dae95d5cb2ffe52119b41f3c043ad?family=NeusaW00-Light");
@font-face {
  font-family: "Neusa Medium";
  src: url("//db.onlinewebfonts.com/t/20e2d60222c36b7a191e019607045109.eot");
  src: url("//db.onlinewebfonts.com/t/20e2d60222c36b7a191e019607045109.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/20e2d60222c36b7a191e019607045109.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/20e2d60222c36b7a191e019607045109.woff") format("woff"), url("//db.onlinewebfonts.com/t/20e2d60222c36b7a191e019607045109.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/20e2d60222c36b7a191e019607045109.svg#Neusa Medium") format("svg");
}

@font-face {
  font-family: "NeusaW00-Light";
  src: url("//db.onlinewebfonts.com/t/349dae95d5cb2ffe52119b41f3c043ad.eot");
  src: url("//db.onlinewebfonts.com/t/349dae95d5cb2ffe52119b41f3c043ad.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/349dae95d5cb2ffe52119b41f3c043ad.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/349dae95d5cb2ffe52119b41f3c043ad.woff") format("woff"), url("//db.onlinewebfonts.com/t/349dae95d5cb2ffe52119b41f3c043ad.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/349dae95d5cb2ffe52119b41f3c043ad.svg#NeusaW00-Light") format("svg");
}

/* Font sizes*/
/* Font families */
/* Colors */
/* Mixins */
/* Imports */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #1c1c1c;
}

h1 {
  font-size: 9.6rem;
  font-family: "Neusa Medium", Fallback, sans-serif;
}

h2 {
  font-size: 4rem;
  font-family: "NeusaW00-Light", Fallback, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  font-size: 3.3rem;
  text-decoration: none;
  color: white;
  font-family: "Neusa Medium", Fallback, sans-serif;
}

#homepage {
  min-height: 100vh;
  min-width: 100vw;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "logo box1 nav" "h1 box1 ." "h2 h2   box2" "h2  h2  box2";
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
}

#homepage .logo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
}

#homepage .logo img {
  height: auto;
  width: 10rem;
  margin: 0rem 2rem;
  margin-top: 3rem;
}

#homepage .title {
  -ms-grid-column-align: center;
      justify-self: center;
  display: -ms-grid;
  display: grid;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: h1;
}

#homepage .title h1 {
  color: white;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  padding: 0rem 2rem;
}

#homepage nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: nav;
}

#homepage nav ul {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#homepage .text-content {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: h2;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: white;
}

#homepage .text-content h2 {
  padding: 0rem 2rem;
}

#homepage .box {
  height: 100%;
  width: 100%;
}

#homepage .box1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: box1;
  background: #c34431;
}

#homepage .box2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: box2;
  background: #e0b663;
}
/*# sourceMappingURL=style.css.map */