/* Font sizes*/

$header1: 9rem;
$header2: 3.5rem;
$a: 3rem;

/* Colors */

$color-custom1: #fe0056;
$color-custom2: #e3dfb2;
$color-orange1: #c34431;
$color-orange2: #dc7049;
$color-orange3: #db8a55;
$color-orange4: #e7a861;
$color-orange5: #e0b663;
$color-background: #1c1c1c;

/* Mixins */

@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

/* Imports */

@import "globals";
@import "homepage";
@import url("//db.onlinewebfonts.com/c/20e2d60222c36b7a191e019607045109?family=Neusa + Medium");
@import url("//db.onlinewebfonts.com/c/349dae95d5cb2ffe52119b41f3c043ad?family=NeusaW00-Light");

@media screen and (max-width: 850px) {
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }
  a {
    font-size: 1.5rem;
  }

  #homepage {
    min-height: 100vh;
    min-width: 100vw;
    display: grid;

    grid-template-areas:
      "box1 logo"
      "box1 nav"
      "h1 box2"
      "h2 box2";

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);

    .logo {
      @include flex(row, center, center);
      img {
        width: 6rem;
      }
    }

    nav {
      ul {
        margin-top: 0rem;
      }
    }

    .title {
      text-align: center;
    }

    .text-content {
      padding-top: 1rem;
      align-self: flex-start;
      h2 {
        text-align: center;
      }
    }
  }
}
